/*
;===========================================================================================================================================
; Title:  main.css
; Author: Ernie Phillips
; Date:   13 Aug 2019
; Modified By: Ernie Phillips
; Description: basic css file for maintaining application
;===========================================================================================================================================
*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Bevan&display=swap");


.header-blue {
    color: #195C9D;
}

.font-size-12 {
    font-size: 12pt;
}

#background-banner {
    background-color: #1db5cb;
    height: 100vh;
    background-image: url("../images/pattern.jpg");
    background-repeat: repeat-y repeat-x;
}

    #background-banner img {
        height: 100vh;
    }

.section-3 {
    background-color: #1db5cb;
}

    .section-3 h2 {
        color: white;
    }

.section-4 {
    background-color: #9dd1de;
    color: white;
}

.section-6 {
    background-color: #195C9D;
    color: white;
}

.card-block h4{
    font-size:15pt;
}
.card-block p{
    font-size:13pt;
}

/*override bootstrap*/
/*Accordion override*/
.card {
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    background-color: #fff;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 1px;
    border: none;
}

.card-header:first-child {
    border-radius: 0;
}

.card-header {
    background-color: #f7f7f9;
    margin-bottom: 0;
    padding: 20px 1.25rem;
    border: none;
}

    .card-header a i {
        float: left;
        font-size: 25px;
        padding: 5px 0;
        padding-right:15px;
        margin: 0 25px 0 0px;
        color: #195C9D;
    }

    .card-header i {
        float: right;
        font-size: 30px;
        width: 1%;
        margin-top: 8px;
        margin-right: 10px;
    }

    .card-header a {
        width: 97%;
        float: left;
        color: #004080;
    }

    .card-header p {
        margin: 0;
    }

    .card-header h3 {
        margin: 0 0 0px;
        font-size: 20px;
        font-family: 'Slabo 27px', serif;
        font-weight: bold;
        color: #004080;
    }

.card-block {
    -moz-box-flex: 1;
    flex: 1 1 auto;
    padding: 20px;
    color: #232323;
    box-shadow: inset 0px 4px 5px rgba(0,0,0,0.1);
    border-top: 1px soild #000;
    border-radius: 0;
}

/*Pill-Tab*/
.pill-link {
    color: black !important;
}

.nav-tabs--vertical {
    border-bottom: none;
    border-right: 1px solid #ddd;
    display: flex;
    flex-flow: column nowrap;
}

.nav-tabs--left {
    margin: 0;
}

    .nav-tabs--left .nav-item + .nav-item {
        margin-top: .25rem;
    }

    .nav-tabs--left .nav-link {
        transition: border-color .125s ease-in;
    }

        .nav-tabs--left .nav-link:hover {
            background-color: #f7f7f7;
            border-color: transparent;
        }

        .nav-tabs--left .nav-link.active {
            border-bottom-color: #ddd;
            border-right-color: #fff;
            border-bottom-left-radius: 0.25rem;
            border-top-right-radius: 0;
            margin-right: -1px;
        }

            .nav-tabs--left .nav-link.active:hover {
                background-color: #fff;
                border-color: #0275d8 #fff #0275d8 #0275d8;
            }

.tab-pane {
    padding-right: 30px !important;
}

/*End bootstrap override*/

/*Media Queries*/
@media (max-width: 575px) {
    .align-middle {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        .align-middle h1 {
            color: white;
            font-size: 50pt;
            text-align: center;
            font-family: 'Bevan';
        }

    h2 {
        font-size: 35pt;
        font-family: 'Bevan';
    }

    p, .nav-tabs, .tab-content {
        font-size: 12pt;
    }
}

@media (min-width: 576px) {
    .align-middle {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        .align-middle h1 {
            color: white;
            font-size: 50pt;
            text-align: center;
            font-family: 'Bevan';
        }

    h2 {
        font-size: 35pt;
        font-family: 'Bevan';
    }

    p, .nav-tabs, .tab-content {
        font-size: 14pt;
    }
}

@media (min-width: 768px) {
    .align-middle {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        .align-middle h1 {
            color: white;
            font-size: 60pt;
            text-align: center;
            font-family: 'Bevan';
        }

    h2 {
        font-size: 40pt;
        font-family: 'Bevan';
    }


    p, .nav-tabs, .tab-content {
        font-size: 16pt;
    }
}

@media (min-width: 992px) {
    .align-middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        .align-middle h1 {
            color: white;
            font-size: 70pt;
            text-align: center;
            font-family: 'Bevan';
        }

    h2 {
        font-size: 40pt;
        font-family: 'Bevan';
    }


    p, .nav-tabs, .tab-content {
        font-size: 18pt;
    }
}

@media (min-width: 1200px) {
    .align-middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        .align-middle h1 {
            color: white;
            font-size: 80pt;
            text-align: center;
            font-family: 'Bevan';
        }

    h2 {
        font-size: 50pt;
        font-family: 'Bevan';
    }

    p, .nav-tabs, .tab-content {
        font-size: 20pt;
    }
}
